<div class="col-md-2 sidebar">
    <ul class="nav nav-sidebar">
        <li><a href="{{path_for('getAdmin')}}"><i class="glyphicon glyphicon-stats"></i> {{'dashboard'|trans}}</a></li>
    </ul>
</div>
