{% extends 'admin/base.twig' %}

{% block title %}{{ 'users_title'|trans }}{% endblock %}

{% block body %}

    <h1 class="h3 mb-2 text-gray-800">{{ 'users_title'|trans }}</h1>

    <div class="row">

    </div>

{%  endblock %}

