{% if errors is defined %}
    <div class="row">
        <div class="col-md-4 offset-md-4 pt-5">
            <div id="head_page_errors" class="alert alert-danger" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="{{ 'close'|trans }}">
                    <span aria-hidden="true">&times;</span>
                </button>
                <p><b>{{ errors.title }}</b><p>
                <ul>
                    {% for msg in errors.msgs %}
                        <li>{{msg}}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
{% endif %}
